*.o
*.a
*.elf
tcc
stage1/
kernel.elf
musl-i386/
musl-riscv64/
busybox-riscv64/
demo/busybox/
demo/*/busybox_unstripped
user_test/user_test.elf
user_test/user_test.bin
user_test_riscv64.elf
user_test_riscv64.bin
kernel/initrd.tar
